body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #73946B;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin:0 auto;
    justify-content: center;
    gap: 25px;
}

#nav-bar button {
    border: none;
    min-height: 40px;
    border-radius: 4px;
    background-color: #D2D0A0;
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
}

#book-form,
#movie-form {
    display: none;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
    background-color: #537D5D;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

form label,
form input,
form select,
form button {
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

form textarea {
    font-family: inherit;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

form label {
    font-weight: bold;
}

form input,
form select {
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

form select {
    cursor: pointer;
}

form button {
    padding: 10px;
    background-color: #D2D0A0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.book,
.movie {
    margin: 20px auto;
    padding: 0px;
    background-color: #9EBC8A;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(224, 210, 3, 0.6);
    position: relative;
    width: 420px;
}

.book h3,
.movie h3 {
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
    word-wrap: break-word;
}

.status {
    font-style: italic;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    position: absolute;
    top: 10px;
    right: 60px;
    padding: 5px;
    background-color: rgb(0, 195, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#book-list,
#movie-list {
    display: none;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}
